* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'source sans 3', sans-serif;
    color: #fff;
}


/* ------------- GENERAL ELEMENTS ------------- */

span {
    color: #c271ff;
}


/* ------------- BODY PART ------------- */


body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url('imagees/pexel2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);
    box-shadow: 
        inset 0 -40px 40px -20px rgba(0, 0, 0, 0.8),
        inset 0 70px 40px -30px rgba(0, 0, 0, 0.8);
}


/* ------------- HEADER SECTION ------------- */


.logo {
    color: #fff;
    margin-left: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    /* border: 3px solid red; */
    align-items: center;
    padding: 10px;
    margin-bottom: 150px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    /* border: 1px solid blue; */
    padding: 0 10px;
    font-weight: 700;
}


/* ------------- BANNER SECTION ------------- */


.banner-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.banner-head {
    font-weight: 700;
    font-size: 120px;
    line-height: 100%;
}

.banner-paragraph {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
}

.banner-button {
    display: inline-block;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    border: #c271ff;
    background-color: #c271ff;
    transition: 0.3s;
    margin-bottom: 50px;
}

.banner-button:hover {
    background-color: #cf92fe;
}

.pros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pros h2 {
    margin-bottom: 100px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profiles-card {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.pros h3, p {
    text-align: center;
}