* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'source sans 3', sans-serif;
    color: #fff;
}


/* ------------- GENERAL ELEMENTS ------------- */

span {
    color: #c271ff;
}


/* ------------- BODY PART ------------- */




/* ------------- HEADER SECTION ------------- */


.logo {
    color: #fff;
    margin-left: 50px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 150px;
    position: absolute;
    z-index: 10;
    width: 100%;
}



.menu a {
    text-decoration: none;
    color: #fff;
    margin: 0 15px;
    padding: 8px 15px;
    font-weight: 700;
    transition: 0.5s;
    border-radius: 25px;
}

.menu a:hover {
    border-radius: 25px;
    background-color: #c271ff;
    border: #c271ff;
}


/* ------------- BANNER SECTION ------------- */

.banner {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('imagees/pexel2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color: white;
    z-index: 1;
    overflow: hidden;
    
}

.banner::before {
    content: "";
    position: absolute;
    top: -10px; right: -10px; bottom: -10px; left: -10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('imagees/pexel2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(10px);
    z-index: -1;
}
.banner-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    
}

.banner-head {
    font-weight: 700;
    font-size: 120px;
    line-height: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
}

.banner-paragraph {
    display: flex;
    gap: 50px;
    margin-bottom: 15px;
    font-weight: bold;
}

.banner-button {
    display: inline-block;
    width: 162px;
    height: 44px;
    border-radius: 22px;
    border: #c271ff;
    background-color: #c271ff;
    transition: 0.3s;
    margin-bottom: 50px;
    font-weight: 700;
    cursor: pointer;
}

.banner-card a {
    padding-top: 40px;
}

.banner-button:hover {
    background-color: #cf92fe;
}

.pros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.pros h2 {
    margin-bottom: 100px;
    font-size: 36px;
}

.profile img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.profiles-card {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.pros h3, p {
    text-align: center;
}


/* ------------- QUOTE SECTION ------------- */


.quote-card {
    width: 100%;
    background-color: #c271ff;
    padding: 30px 30px 80px 30px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.quote-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.quote-description blockquote {
    font-size: 22px;
}

.quote-card img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin-top: 20px;
}

.quote-author {
    margin-top: 30px;
    font-weight: 700;
    font-size: 22px;
}

.author-profession {
    font-size: 22px;
}

.quote-description blockquote, .quote-author, .author-profession {
    line-height: 33.6px;
    letter-spacing: 0px;
}


/* ------------- VIDEO SECTION ------------- */